In [11]:
import pandas as pd
import numpy as np

i = ['dog', 'cat', 'rabbit', 'elephant'] * 3

df = pd.DataFrame(np.random.randn(12, 2), index=i, columns=list('AB'))

In [12]:
b_dict = {'elephant': 2.0, 'dog': 5.0}

In [14]:
df

                 A         B
dog       0.048824  1.837794
cat      -1.065722  0.314118
rabbit   -0.525181 -1.010477
elephant -2.299442  0.456827
dog       1.375398  1.493364
cat      -1.144784 -0.282989
rabbit   -0.441008 -0.102290
elephant  0.325742  1.986535
dog      -1.265714  1.984869
cat       0.154493  1.260600
rabbit    0.034429  0.833663
elephant  1.666891 -0.701054

In [15]:
b_dict

{'elephant': 2.0, 'dog': 5.0}

In [23]:
df['B'] = np.where(df.index.isin(b_dict.keys()),df.index.map(b_dict),df.B)

In [24]:
df

                 A         B
dog       0.048824  5.000000
cat      -1.065722  0.314118
rabbit   -0.525181 -1.010477
elephant -2.299442  2.000000
dog       1.375398  5.000000
cat      -1.144784 -0.282989
rabbit   -0.441008 -0.102290
elephant  0.325742  2.000000
dog      -1.265714  5.000000
cat       0.154493  1.260600
rabbit    0.034429  0.833663
elephant  1.666891  2.000000

In [9]:
import pandas as pd
dow30 = list(pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average', header=0)[1].Symbol)

In [10]:
dow30

['MMM',
 'AXP',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DWDP',
 'XOM',
 'GS',
 'HD',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PFE',
 'PG',
 'TRV',
 'UNH',
 'UTX',
 'VZ',
 'V',
 'WMT',
 'WBA',
 'DIS']