In [4]:
import pandas as pd
import numpy as np
import datetime
import random

# Series
## Random date series between two dates

In [5]:
# Generate list of random dates
start = datetime.date(2018,1,1)
end = datetime.date(2018,12,31)
dates = [start + (end-start)* random.random() for i in range(6)]
dates

[datetime.date(2018, 5, 27),
 datetime.date(2018, 11, 6),
 datetime.date(2018, 7, 31),
 datetime.date(2018, 6, 20),
 datetime.date(2018, 6, 4),
 datetime.date(2018, 11, 13)]

## Random int Series

In [28]:
pd.Series(np.random.randint(2, high=10, size=5), name='Value')

0    3
1    2
2    6
3    8
4    7
Name: Value, dtype: int32

## Random Letter Series

In [33]:
import string, random
pd.Series(random.choice(string.ascii_uppercase) for _ in range(10))

0    S
1    P
2    K
3    O
4    M
5    P
6    L
7    E
8    D
9    P
dtype: object

## Random letter + number series
(for e.g. machine number generation)

In [71]:
['N'+ str(random.randint(i, i+5)) for i in range(6)]

['N2', 'N3', 'N2', 'N5', 'N7', 'N6']

## Sample dataframe and dictionary

In [1]:
import pandas as pd
import numpy as np

i = ['dog', 'cat', 'rabbit', 'elephant'] * 3

df = pd.DataFrame(np.random.randn(12, 2), index=i, columns=list('AB'))
df

                 A         B
dog       0.095835  0.258695
cat       0.243400  1.867659
rabbit   -0.838759 -0.539642
elephant  0.750925 -2.940739
dog      -0.237035 -0.936326
cat      -0.807043  1.309399
rabbit   -0.295063 -0.378615
elephant  0.197412 -1.819383
dog      -1.310326 -0.271876
cat       2.344338 -1.475317
rabbit   -0.846794 -0.541567
elephant  1.340582  0.782971

In [2]:
b_dict = {'elephant': 2.0, 'dog': 5.0}
b_dict

{'elephant': 2.0, 'dog': 5.0}