In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a': [1, 10, 8, 11, -1],
'b': list('abdce'),
'c': [1.0, 2.0, np.nan, 3.0, 4.0]})

In [4]:
df

    a  b    c
0   1  a  1.0
1  10  b  2.0
2   8  d  NaN
3  11  c  3.0
4  -1  e  4.0

In [5]:
df.nlargest(3, 'a')

    a  b    c
3  11  c  3.0
1  10  b  2.0
2   8  d  NaN